
header h1 {
    display: inline;
}
table > tbody > tr:hover {
    background-color: #76B900;
}
nav a{
    color: #FF5F00;
}
nav a:hover{
    color: #0082D1;
}
#c1, #c2 {
    background-color: #FF5F00;
}
