header{
    color: white;
    background-color: darkgreen;
    padding: 1%;
    font-family: "Serif", serif;
    text-align: center;
}

body{
    margin: 1%;
}

.wrapper{
    display: grid;
    grid-gap: 1%;
    margin: 1%;
    grid-template-columns: repeat(4, 1fr);
}

.citycard{
    display: grid;
    grid-template-rows: 3fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1%
}

.cityimage img{
    height: 50%;
    display: block;
    margin: auto;
    padding-top: 50%;
}

.cityname{
    text-align: center;
    padding: 1%;
}